<%= form_with(model: memberships_user, local: true) do |form| %>
    <table class="table table-bordered mt-4 w-75 mx-auto">
        <tbody>
            <tr>
                <td class="text-left"><strong>Store Name</strong></td>
                <td class="text-left"><%= form.text_field :store, :class => "w-100" %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Status</strong></td>
                <td class="text-left"><%= form.text_field :status, :class => "w-100" %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Points</strong></td>
                <td class="text-left"><%= form.text_field :points, :class => "w-100" %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Rewards</strong></td>
                <td class="text-left"><%= form.text_field :rewards, :class => "w-100" %></td>
            </tr>
        </tbody>
    </table>
    <%= form.submit ({:class => "btn"}) %>
<% end %>
