<div class="container w-75">
    <h1 class="pt-5">New Membership Card</h1>

    <%= form_with(scope: :memberships_user, url: memberships_users_path, local: true) do |form| %>
    <table class="table table-bordered mt-4 w-75 mx-auto">
        <tbody>
            <tr>
                <td class="text-left"><strong>Store Name</strong></td>
                <td class="text-left"><%= form.collection_select :membership_id, @memberships, :id, :store %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Status</strong></td>
                <td class="text-left"><%= form.text_field :status, :class => "w-100" %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Points</strong></td>
                <td class="text-left"><%= form.text_field :points, :class => "w-100" %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Rewards</strong></td>
                <td class="text-left"><%= form.text_field :rewards, :class => "w-100" %></td>
            </tr>
        </tbody>
    </table>
    <%= form.submit "Save", ({:class => "btn"}) %>
<% end %>
</div>

<%= link_to 'Back', memberships_users_path %>