<div class="container w-75">
    <h1 class="pt-5">Membership Card Details</h1>
    <%= render 'card' %>

    <table class="table table-bordered mt-4 mx-auto">
        <tbody>
            <tr>
                <td class="text-left"><strong>Store Name</strong></td>
                <td class="text-left"><%= @memberships_user.membership.store %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Status</strong></td>
                <td class="text-left"><%= @memberships_user.status %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Points</strong></td>
                <td class="text-left"><%= @memberships_user.points %></td>
            </tr>
            <tr>
                <td class="text-left"><strong>Rewards</strong></td>
                <td class="text-left"><%= @memberships_user.rewards %></td>
            </tr>
        </tbody>
    </table>
</div>

<%= link_to 'Edit', edit_memberships_user_path(@memberships_user) %> |
<%= link_to 'Back', memberships_users_path %>
